/* Variables Css*/
:root {
  --light: #f3f3f3;
  --dark: #212121;
  --font: "Odibee Sans", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Odibee Sans", cursive;
  font-size: 16px;
  width: 100%;
}
